In [12]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [4]:
df = pd.read_csv("C:/Users/Administrator.DAI-PC2/Desktop/ML/Day3/pizza.csv")
df

    Promote  Sales
0        23    554
1        56   1339
2        34    815
3        25    609
4        67   1600
5        82   2000
6        46   1000
7        14    300
8         6    150
9        47   1150
10       52   1200
11       88   2000
12       71   1750
13       78   2000
14       66   1500
15       44   1000
16       68   1600
17       90   2000
18       22    550

In [10]:
xi = df['Promote']
yi = df['Sales']
n = df.shape[0]

xbar = np.mean(xi)
ybar = np.mean(yi)

first = np.sum(xi * yi) / n

second = xbar * ybar

numerator = first - second

be_first = np.sum(xi**2)/n

denominator = be_first - (xbar**2)

b1 = numerator / denominator

b1

23.506403021550746

In [11]:
b0 = ybar - (b1*xbar)
b0

5.485865363253652

In [14]:
X = df[['Promote']]
y = df['Sales']

lr = LinearRegression()
lr.fit(X,y)

print(lr.intercept_, lr.coef_)

5.4858653632529695 [23.50640302]