In [11]:
from scipy.cluster.hierarchy import linkage, dendrogram
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
import seaborn as sns
from sklearn.cluster import AgglomerativeClustering, KMeans
from sklearn.metrics import silhouette_score
from sklearn.decomposition import PCA
import seaborn as sns
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder

In [12]:
df = []
with open(r"C:\Users\Administrator.DAI-PC2\Desktop\ML\Day12\DataSetA.csv", "r") as f:df=f.read()
df = df.split("\n")

In [13]:
df_list = []
for i in df:
    df_list.append(i.split(","))

In [14]:
te = TransactionEncoder()
te_ary = te.fit(df_list).transform(df_list)
te_ary

array([[ True, False,  True, ..., False, False,  True],
       [ True, False, False, ..., False, False, False],
       [ True, False,  True, ..., False,  True, False],
       ...,
       [ True,  True, False, ..., False, False,  True],
       [ True,  True, False, ..., False, False,  True],
       [ True, False, False, ..., False, False, False]])

In [6]:
fp_df = pd.DataFrame(te_ary, columns = te.columns_)
fp_df

,,Bread,Butter,Cheese,Coffee Powder,Ghee,Lassi,Milk,Panner,Sugar,Sweet,Tea Powder,Yougurt
0,True,False,True,True,True,True,True,False,False,False,False,False,True
1,True,False,False,False,True,True,False,False,False,False,False,False,False
2,True,False,True,True,False,False,True,False,False,False,False,True,False
3,True,True,True,True,True,False,False,False,True,False,False,True,False
4,True,False,True,True,True,False,False,False,False,True,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12522,True,True,False,True,True,False,False,False,False,True,False,False,False
12523,True,True,False,True,False,False,False,True,False,False,False,False,True
12524,True,True,False,True,False,True,False,False,False,True,False,False,True
12525,True,True,False,False,False,False,False,False,True,False,False,False,True
12526,True,False,False,False,False,False,False,False,False,False,False,False,False

In [15]:
fp_df = pd.DataFrame(te_ary[:,1:], columns = te.columns_[1:])
fp_df

,Bread,Butter,Cheese,Coffee Powder,Ghee,Lassi,Milk,Panner,Sugar,Sweet,Tea Powder,Yougurt
0,False,True,True,True,True,True,False,False,False,False,False,True
1,False,False,False,True,True,False,False,False,False,False,False,False
2,False,True,True,False,False,True,False,False,False,False,True,False
3,True,True,True,True,False,False,False,True,False,False,True,False
4,False,True,True,True,False,False,False,False,True,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...
12522,True,False,True,True,False,False,False,False,True,False,False,False
12523,True,False,True,False,False,False,True,False,False,False,False,True
12524,True,False,True,False,True,False,False,False,True,False,False,True
12525,True,False,False,False,False,False,False,True,False,False,False,True
12526,False,False,False,False,False,False,False,False,False,False,False,False

In [17]:
#create frequency itemsets
itemsets = apriori(fp_df, min_support=0.01, use_colnames=True)

In [21]:
#and convert into rules
rules = association_rules(itemsets, metric='confidence', min_threshold=0.5)
rules.sort_values(by=['lift'], ascending=False).head(6)
rules_df = rules[rules['lift']>1]

rules_df[['antecedents', 'consequents', 'support', 'confidence', 'lift']]

,antecedents,consequents,support,confidence,lift
0,"(Sugar, Sweet)",(Butter),0.099705,0.500601,1.144140
1,"(Panner, Lassi)",(Sweet),0.100982,0.506608,1.157446
2,"(Panner, Sweet)",(Lassi),0.100982,0.504990,1.164582
3,"(Bread, Tea Powder, Butter)",(Yougurt),0.045182,0.502664,1.144262
4,"(Cheese, Coffee Powder, Panner)",(Bread),0.046779,0.500427,1.143116
...,...,...,...,...,...
631,"(Milk, Yougurt, Lassi, Tea Powder, Ghee)",(Sugar),0.010218,0.501961,1.147038
632,"(Sugar, Yougurt, Lassi, Tea Powder, Ghee)",(Milk),0.010218,0.505929,1.146900
633,"(Sweet, Panner, Milk, Sugar, Tea Powder)",(Lassi),0.011336,0.522059,1.203945
634,"(Panner, Milk, Sugar, Lassi, Tea Powder)",(Sweet),0.011336,0.518248,1.184041
635,"(Sweet, Panner, Milk, Sugar, Yougurt)",(Lassi),0.010378,0.500000,1.153074